@import url("https://fonts.googleapis.com/css2?family=Donegal+One&family=Kumbh+Sans&display=swap");
.container {
  background-color: aliceblue;
  width: 70%;
  height: 70%;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0.2, 0.2);
  padding: 30px 0px;
  background-image: url("../images/pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left -80% top 70%;
  background-size: 70%;
  position: relative;
  z-index: 19;
  display: flex;
  justify-content: space-between;
  font-family: "Donegal One", serif;
  font-family: "Kumbh Sans", sans-serif;
}

.iconWrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.icon {
  transform: translateX(-10%);
}

.imageOnTop {
  position: absolute;
  top: 57%;
  left: -1, 9%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.faqContainer {
  width: 45%;
}
